.main {
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  scroll-behavior: smooth;
  background-image: url("images/background/gradiant-bg.jpg");
  font-family: "Montserrat";
  background-size: cover;
  /* background-repeat: no-repeat; */
}

body::-webkit-scrollbar {
  display: none;
}
.head{
  background: linear-gradient(to right, rgb(88, 124, 232),rgb(0, 100, 77));
}
.nav-menu > div > a {
  text-decoration: none;
  color: black !important;
}
.heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 7px;
}
.head{
  display: flex;
  
}
.head > span> img{
  margin-left: 50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu{
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
}
.menu {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 7px;
  border: 3px solid black;
}

.menu:hover {
  transition: 0.7s all;
  border: 3px solid transparent;
  cursor: pointer;
}
.profile-pic {
  max-width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  /* flex: 1;*/
}
.profile-pic img {
  width: 100%;
  height: 100%;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  height: 100vh;
  color: white;
}

#about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #my-works
 {
  background-color: green;
}
#contact-me {
 background-color: blue;
} */
.my-works > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: deeppink;
}
.my-works {
  background-color: #adb5bd;
  width: 300px;
  padding-left: 30px;
  padding-top: 10px;
  border-top: 8px solid #1c7ed6;
  border-bottom: 8px solid #1c7ed6;
}
n {
  color: #1c7ed6;
}
#my-works {
  padding-top: 60px;
}
#contact-me{
  padding-top: 50px;
}
#contact-me>p{
  font-size: 25px;
  font-weight: bold;
}
.content{
  font-size: 20px;
}